# Day_12 : practice _+_ recap_ days _1‚Äì6

## üîÅ Recap: Days 1‚Äì6


###  Python Basics
- Interpreted, high-level, versatile language
- Great for data science due to rich libraries (NumPy, Pandas, etc.)

In [4]:
name = input("Enter your name: ")
age = int(input("Enter your age: "))
print(f"Hello {name}, you will be {age + 1} next year!")

Enter your name:  Ram
Enter your age:  23

Hello Ram, you will be 24 next year!



###  Variables & Data Types
- `int`, `float`, `str`, `bool`, `list`, `tuple`, `dict`, `set`
- Typecasting: `int()`, `str()`, `float()`, `bool()`

In [6]:
# Variable Declaration & Data Types

# Integer
age = 21
print("Integer:", age, type(age))

# Float
height = 5.9
print("Float:", height, type(height))

# String
name = "Ritesh"
print("String:", name, type(name))

# Boolean
is_student = True
print("Boolean:", is_student, type(is_student))

# List
skills = ["Python", "Flask", "SQL"]
print("List:", skills, type(skills))

# Tuple
coordinates = (17.68, 75.33)
print("Tuple:", coordinates, type(coordinates))

# Dictionary
profile = {"name": "Ritesh", "age": 21, "student": True}
print("Dictionary:", profile, type(profile))

# Set
unique_languages = {"Python", "Java", "Python", "C++"}
print("Set (no duplicates):", unique_languages, type(unique_languages))

# Typecasting Examples

# Convert float to int
score = 89.7
score_int = int(score)
print("Float to Int:", score_int)

# Convert int to string
year = 2025
year_str = str(year)
print("Int to String:", year_str, type(year_str))

# Convert string to float
price_str = "99.99"
price_float = float(price_str)
print("String to Float:", price_float, type(price_float))

# Convert value to boolean
empty_list = []
print("Empty list to Bool:", bool(empty_list), type(empty_list))  # False

non_empty_str = "Hello"
print("Non-empty string to Bool:", bool(non_empty_str), type(non_empty_str))  # True

Integer: 21 <class 'int'>
Float: 5.9 <class 'float'>
String: Ritesh <class 'str'>
Boolean: True <class 'bool'>
List: ['Python', 'Flask', 'SQL'] <class 'list'>
Tuple: (17.68, 75.33) <class 'tuple'>
Dictionary: {'name': 'Ritesh', 'age': 21, 'student': True} <class 'dict'>
Set (no duplicates): {'C++', 'Python', 'Java'} <class 'set'>
Float to Int: 89
Int to String: 2025 <class 'str'>
String to Float: 99.99 <class 'float'>
Empty list to Bool: False <class 'list'>
Non-empty string to Bool: True <class 'str'>

###  Strings
- Immutable sequences of characters
- Methods: `.lower()`, `.upper()`, `.replace()`, `.split()`, `.strip()`
- f-strings: `f"Hello {name}"`

In [8]:
sentence = "  Python is Awesome!  "
cleaned = sentence.strip().lower().replace("awesome", "powerful")
print(cleaned)

python is powerful!

###  Operators
- Arithmetic: `+`, `-`, `*`, `/`, `//`, `%`, `**`
- Comparison: `==`, `!=`, `<`, `>`, `<=`, `>=`
- Logical: `and`, `or`, `not`

In [10]:
a = 10
b = 3
print("Addition:", a + b)
print("Exponent:", a ** b)
print("Floor Division:", a // b)

Addition: 13
Exponent: 1000
Floor Division: 3

###  Conditionals
- `if`, `elif`, `else`
- `match` (Python 3.10+)

In [12]:
score = int(input("Enter your score: "))

if score >= 90:
    print("Grade: A")
elif score >= 75:
    print("Grade: B")
elif score >= 60:
    print("Grade: C")
else:
    print("Grade: D")

Enter your score:  100

Grade: A

###  Loops
- `for`, `while`
- `break`, `continue`, `pass`
- List comprehensions: `[x for x in iterable if condition]`

In [14]:
numbers = [1, 2, 3, 4, 5, 6]
squares = [x**2 for x in numbers if x % 2 == 0]
print("Even Squares:", squares)

Even Squares: [4, 16, 36]